
body{
  margin:0px;
  background-color: #F5F5F5;
}


h1, h2, h3, h4{
   font-family: 'Montserrat';
}

ul{
  font-size: 14px;
  padding-bottom: 1em;
  color: #5e5e5e;
  line-height:2em;
}

footer{
  display: block;
  background-color:#333;
   font-family: 'Montserrat';
  text-align: center;
  margin-top:5em;
  font-size: .75rem;
  padding: 1.5em;
  text-decoration: none;
}

a{
  color: #333;
  text-decoration: none;
}

a:hover{
  color: #ff5555;
  text-decoration:underline;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

a:active{
  color: #ff5555;
  text-decoration:underline;
}

/*Different Header class and id perameters*/
h1#nameHeader{
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 50pt;
  color: #333;
  margin-bottom: 0px;
  line-height: 1em;
}

h2#jobHeader{
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 20pt;
  color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2.sectionHeader{
  font-size: 42px;
  padding-left: 10px;
  padding-top:80px;
  margin-bottom: 0px;
  flex-basis: 100%;
  color: #333;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
}

h1.aboutHeader{
  font-size: 32px;
  padding-bottom:20px;
  flex-basis: 100%;
  font-family: "FuturaPT";
  margin-bottom: 20px;
}

h1#homepageHeader{
  font-size: 32px;
  padding-left: 10px;
  padding-top:40px;
  margin-bottom: 0px;
  flex-basis: 100%;
  color: #1a1a1a;
  font-family: 'Open Sans';
}



h2.secondaryHeader{
  padding-left:10px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 0px;
  display: block;
  width: 100%;
}

h2#ContactHeader{
  color: #333;
  padding-left: 10px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: 20pt;
  text-align: left;
}

/*Navigation Elements*/
  .topnav {
    overflow: hidden;
    background-color: #e4e4e4;
    margin-top:40px;
    height: 46px;
  }

  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
      font-family: 'Montserrat';
    font-weight: normal;
    font-size: 12px;
    letter-spacing: .1em;

    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }

  .topnav a:hover {
    background-color: #cacaca;

    color: white;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav-right {
    float: right;
    margin-right: 15%;
  }




  /*Accordian Navigational Menu (Only appears when screen is under 767px)*/

    .navigation {
      display: none
    }

  @media screen and (max-width: 767px){

    .topnav-right a{
      display: none;
    }


  .navigation {
    display: inline-block;
      width: 100%;
      position: absolute;
      z-index: 89;
      top: 40px;
      left:0px;
      background-color: #e4e4e4;
      overflow-y: hidden;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      padding-top: 0px;
  }

  .navigation a {
      text-decoration: none;
  }

  .navigation ul {
      padding-top:150px;
      padding-bottom:100%;
      padding-left: 0px;
      margin-top:0px;
      padding-left:15px;
      padding-right:12px;
      margin-left: 4%;
      background-color: #f5f5f5;
      text-align:left;
      list-style:none;
  }

  .menulist {
      width:200px;
      padding 0;
  }

  .line1, .line2, .line3 {
    margin-top:5px;
    background-color:#333;
    width:25px;
    height:3px;
    display:block;
    position:relative;
    opacity:1.0;
    border-radius:15%;
    transition: all .3s;
  }

  .line1.active {
    transform: rotate(180deg);
    opacity:0.0;
    background-color:white;
    top:5px;
  }

  .line2.active {
    transform: rotate(45deg);
    background-color: #333;
  }

  .line3.active {
    transform: rotate(-45deg);
    background-color: #333;
    top:-7px;
  }

  .menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none;
    /*  font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: #333;
    opacity:0.0;
    transition: all .5s ease-in-out;
  }

  .menuitems:after {
    content:'';
    display:block;
    width: 0;
    height: 1px;
    background: #333;
    transition: width .2s;
  }

  .menuitems:hover::after {
      width:100%;
  }

  #closebtn {
      height:25px;
      width:25px;
      position: absolute;
      text-decoration:none;
      top: 9px;
      right: 0px;
      font-size: 36px !important;
      margin-right: 5%;
      z-index:100;
      color:#fff;
      cursor:pointer;
      transition:background-position .3s;
  }

  #main {
      transition: margin-top .4s;
      text-align:center;
      margin:auto;
      padding: 16px;
      font-size:30px;
  }

}


/*Footer Elements*/
footer p{
  margin:0;
}

footer a{
  color: #ffffff;
  text-decoration: none;
}

footer a:hover{
  text-decoration: none;
  color: #ff3333;

}
footer a:active{
  text-decoration: none;
  color: #ff3333;
}

.fa {
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  padding-right:5px;
}

.fa:hover {
    color: #FF3333;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

.fa:active {
    color: #FF3333;
}

.fa-facebook {
  color: #fff;
   font-size: 15px;
}


.fa-instagram {
  color: white;
}


.fa-vimeo {
  color: white;
}

#media-accounts{
position:absolute;
left: 15%;
margin-left: 5px;
}


/*Perameters for where Footer should be placed based on screen size*/
@media screen and (min-height: 800px) and (min-width:801px) {
footer#gridpagefooter{
  position: fixed;
  bottom: 0px;
  width: 100%
}
}

@media screen and (min-height: 850px){
footer#fullcolumnpagefooter{
  position: fixed;
  bottom: 0px;
  width: 100%
}
}

#logo{
  position: absolute;
  z-index: 99;
  left:16%;
  top: 40px;

}



/*Column Contain Structure and Parameters*/
.columnContainer{
    box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  background-color: #f5f5f5;
  color:#212121;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left:15%;
  padding-right:15%;
}

/*Full Colum Grid Structure and elements within*/
.columnContainer .fullcolumn {
  width: 100%;
  padding-top: 1em;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.columnContainer .fullcolumn h3 {
  font-weight: 100;
  font-size: 24px;
  font-weight:normal;
}

.columnContainer .fullcolumn p {
    font-size: 16px;
    color: #5e5e5e;
    font-weight: 400;
    line-height: 2em;
        box-sizing: border-box;
    padding-bottom: 10px;
}

.insideImage{
  position: absolute;
  text-align: left;
  width:100%;
  color:white;
  margin-bottom: 0px;
  padding: 5px;
  bottom: 0px;
  left: 10px;
}


/*Three column grid structure and elements within*/
.columnContainer .column {
    box-sizing: border-box;
  flex-basis: 33.333%;
  padding-top: .5em;
  padding-left: 15px;
  padding-right: 15px;
}

.columnContainer .column h3 {
  font-weight: 100;
  font-size: 24px;
  font-weight:normal;
}

.columnContainer .column h3.paymentsHeader{
  font-size: 18px;
  padding-bottom: 10px;
  padding-top:30px;
  font-weight: 500;
}

.columnContainer .column p {
    font-size: 12px;
    color: #5e5e5e;
    padding-bottom: 10px;
}

/*images in 3 column grid*/
.gridimageslink{
    box-sizing: border-box;
  width:100%;
  position: relative;
  margin-bottom: 10px;
}

.gridimageslink #highlightimage{
  margin-top: 40px;
}

/*hover effecrs on image links*/
.gridimageslink a img:hover{
  box-shadow: 0px 0px 10px #888888;
}

/*hover effecrs on image links*/
.gridimageslink a:active{
  box-shadow: 0px 0px 10px #888888;
}

.gridimages{
  width:100%;
}

/*Adaptable Grid Structure*/
@media screen and (max-width: 1100px){
  .columnContainer{
    padding-left:3%;
    padding-right:3%;
  }

  .topnav-right {
    margin-right: 3%;
  }

  #logo{
    position: absolute;
    left:4%;
    top: 40px;
  }

  #media-accounts{

  left: 4%;
  margin-left: 5px;
  }

}

@media screen and (max-width: 900px){
  .columnContainer{
    padding-left:3%;
    padding-right:3%;
  }
}

  @media screen and (max-width: 800px){
    .columnContainer .column {
    flex-basis: 100%;
    flex-grow: 0;
    flex-wrap: wrap;
    padding-top: 0;
    margin-bottom: 0;
  }

/* Effects to full column based on screen size*/
  .columnContainer .fullcolumn .contactinfo{
    display: none
  }

  .columnContainer .fullcolumn h3{
    font-size: 16px;
    font-weight:normal;
  }

  .columnContainer .fullcolumn p{
    font-size: 15px;
    font-weight:normal;

  }

  .columnContainer .column p.bottomnavText{
  font-size: 14px;
}
}

/*Navigation Buttons */
.navigationbutton{
  background-color: #ffffff;
  display: inline-block;

  color: #5e5e5e;
  font-family: 'Montserrat';
  font-size: 12px;
  border: 2px solid #5e5e5e;
  padding:1em;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  width: 100%;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  margin-bottom: 2em;

}

.navigationbutton:hover{
  background-color: #5e5e5e;
  text-decoration: none;
  color: white;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.navigationbutton:active{
  background-color: #5e5e5e;
  text-decoration: none;
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.calendardate p{
  margin-bottom: 0px;
}

.columnContainer .fullcolumn .contactinfo{
  color:white;
}

/*--Input Field Parameters to different elements*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;

    box-sizing: border-box;
}

input[type=submit] {
  background-color:#e4e4e4;
  color: #333;
  font-family: 'Montserrat';
  font-size: 14px;
  padding:1em;
  width: 100%;
  border: 0px;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  margin-bottom: 40px;
}

.inputfields{
  width:100%;
}

input[type=submit]:hover {
  background-color: #FF3333;
  text-decoration: none;
  color: white;
}

input[type=submit]:active {
  background-color: #FF3333;
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 16px;
}

label{
  font-size: 14px;
  display: block;
  color:#5e5e5e;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 13px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 13px;
}

#portrait{
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-top:3em;
  margin-bottom:3em;
}

#nameHeaderSection{
  margin-top: 12em;
  margin-bottom: 12em;
}

@media screen and (max-width: 767px){

    h1#nameHeader{
      font-size: 40px;
    }

    h2.sectionHeader{
      font-size: 40px;
    }

  }

#bluebox{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;

    padding-top: 30px;
    box-shadow: 0px 0px 3px #888888;
    padding-bottom: 20px;
  }

  #iconlogo{
    margin-left:auto;
    margin-right:auto;
    display: block;
    padding-bottom: 20px;
  }

  #description{
    width: 100%;
    text-align: center;


  }
